<footer class="bigdeals-footer py-4 mt-auto">
  <div class="container">
    <div class="row gy-4">

      <div class="col-md-8">
        <h4 class="text-white fw-bold mb-2">
          Big<span class="text-success">Deals</span>
        </h4>

        <p class="fs-14 mb-0">
          BigDeals est une marketplace tunisienne qui permet aux utilisateurs de publier,
          rechercher et trouver des annonces de produits neufs ou d’occasion de manière simple et organisée.
        </p>
      </div>

      <div class="col-md-4">
        <h6 class="text-white text-uppercase fs-13 mb-3">
          Informations
        </h6>

        <ul class="list-unstyled footer-link fs-14 mb-0">
          <li class="mb-2">
            <a routerLink="/about" class="text-white-50 hover-white">
              À propos
            </a>
          </li>

          <li class="mb-2">
            <a routerLink="/terms" class="text-white-50 hover-white">
              Conditions d'utilisation
            </a>
          </li>
        </ul>
      </div>

    </div>

    <div class="border-top border-secondary border-opacity-25 mt-4 pt-3">
      <div class="fs-13">
        {{ year }} © BigDeals Marketplace. Tous droits réservés.
      </div>
    </div>
  </div>
</footer>