.search-box {
    position: relative;
    width: 100%;
    
    .search-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 12px;
        color: #878a99;
    }
    
    .form-control {
        padding-left: 38px;
        border-radius: 8px;
        border: 1px solid rgba(0,0,0,0.05);
        background-color: #f3f3f9;
        
        &:focus {
            background-color: #fff;
            border-color: var(--vz-success);
        }
    }
}
