@if(showTopbar){
<div id="layout-wrapper" [class.vertical-layout]="isAdmin" [class.horizontal-layout]="!isAdmin">
    <app-topbar-user (mobileMenuButtonClicked)="onToggleMobileMenu()"></app-topbar-user>
    
    @if(isAdmin){
        <app-admin-sidebar></app-admin-sidebar>
    }

    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <router-outlet></router-outlet>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>
}@else {
    <router-outlet></router-outlet>
}