@if(showTopbar){
<div id="layout-wrapper" [class.vertical-layout]="shouldShowSidebar" [class.horizontal-layout]="!shouldShowSidebar">
    <app-topbar-user (mobileMenuButtonClicked)="onToggleMobileMenu()"></app-topbar-user>
    
    @if(shouldShowSidebar){
        <app-admin-sidebar></app-admin-sidebar>
    }

    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <router-outlet></router-outlet>
            </div>
        </div>
        @if(shouldShowPublicFooter){
            <app-footer></app-footer>
        }
    </div>
</div>
}@else {
    <router-outlet></router-outlet>
}