<!-- Breadcrumbs -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Gérer catégories</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    @for(item of breadCrumbItems; track $index) {
                      <li class="breadcrumb-item" [ngClass]="{'active': item.active}">
                          @if(item.active){ {{item.label}} }@else{ <a href="javascript:void(0);">{{item.label}}</a> }
                      </li>
                    }
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header border-0">
                <div class="d-flex align-items-center">
                    <h5 class="card-title mb-0 flex-grow-1">Liste des catégories</h5>
                    <div class="flex-shrink-0">
                        <button type="button" class="btn btn-success add-btn"><i class="ri-add-line align-bottom me-1"></i> Ajouter une catégorie</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive table-card mb-1">
                    <table class="table align-middle table-nowrap" id="categoryTable">
                        <thead class="table-light">
                            <tr>
                                <th scope="col" style="width: 50px;">ID</th>
                                <th scope="col">Icône</th>
                                <th scope="col">Nom de la catégorie</th>
                                <th scope="col">Nombre d'annonces</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody class="list form-check-all">
                            @for(category of categories; track category.id) {
                                <tr>
                                    <td>{{category.id}}</td>
                                    <td>
                                        <div class="avatar-sm bg-light rounded p-1" style="height: 40px; width: 40px;">
                                            <i class="{{category.icon}} fs-24 text-primary"></i>
                                        </div>
                                    </td>
                                    <td>{{category.name}}</td>
                                    <td><span class="badge badge-soft-info fs-12">{{category.count}}</span></td>
                                    <td>
                                        <ul class="list-inline hstack gap-2 mb-0">
                                            <li class="list-inline-item" ngbTooltip="Modifier" placement="top">
                                                <a href="javascript:void(0);" class="text-primary d-inline-block" (click)="onEdit(category.id)">
                                                    <i class="ri-pencil-fill fs-16"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item" ngbTooltip="Supprimer" placement="top">
                                                <a href="javascript:void(0);" class="text-danger d-inline-block" (click)="onDelete(category.id)">
                                                    <i class="ri-delete-bin-5-fill fs-16"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
