.card-animate {
    transition: all 0.3s ease;
    cursor: pointer;

    &.active-card {
        transform: translateY(-5px);
        box-shadow: 0 5px 15px rgba(0,0,0,0.08) !important;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: inherit;
            padding: 2px; /* This is the border width */
            background: linear-gradient(135deg, #4b38b3, #0ab39c, #299cdb);
            -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
            pointer-events: none;
        }
    }
}

@keyframes gradient-rotate {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
